/*-- . = class # = id*/
* {
  font-family: 'Charm', cursive;
}

/* .border {
  margin: auto;
  width: 100%;
  border: 3px solid #73ad21;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.color-red {
  color: red;
}

.margin-right-page {
  margin-right: 10px;
}

.my-form {
  margin-top: 10px;
}

.my-input {
  border-radius: 10px;
  border-width: 2px;
  border-color: gold;
} */
